<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Login
    </h1>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-sm-12 col-md-4 col-md-push-4">
    <form name="loginFrm" novalidate ng-submit="ctrl.login()">
      <form-field label="Username" required>
        <input type="text" ng-model="ctrl.username" required />
      </form-field>
      <form-field label="Password" required>
        <input type="password" ng-model="ctrl.password" required />
      </form-field>

      <div class="text-right">
        <button type="submit" class="btn btn-lg btn-success">LOGIN</button>
      </div>
    </form>
  </div>
</div>