// Colors
$white: #ffffff;
$blackish: #222222;

$primary: #7c0d1a;
$primaryLight: #c60b20;
$primaryDark: #7f0d1a;

$primaryText: #aa091b;

$secondary: #1e438e;
$secondaryLight: $white;
$secondaryDark: #d2d2d2;