<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Dashboard
    </h1>
  </div>
</div>

<div class="row">
  <div ng-class="ctrl.hasSelectedPolicy ? 'col-sm-6' : 'col-sm-12'">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-money fa-fw"></i> Policies
              <span class="pull-right">
                <a class="btn btn-sm btn-success" ui-sref="PolicyCreate"><i class="fa fa-plus"></i> Policy</a>
              </span>
            </h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th><!-- Status Icon --></th>
                  <th>Risk Type</th>
                  <th>Face Amount</th>
                  <th>Cedant</th>
                  <th>Ratings</th>
                  <th>Rating Expiration</th>
                  <th>Bids</th>
                  <th>Bid Expiration</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="policy in ctrl.policies" ng-class="{'selectedPolicy': ctrl.policyIsSelected(policy)}" ng-click="ctrl.selectPolicy(policy)" class="pointer">
                    <td class="centered"><i class="fa" ng-class="{'fa-dollar': policy.isRequestingBids, 'fa-folder-open-o': policy.isRequestingRatings}"></i></td>
                    <td>{{policy.riskType}}</td>
                    <td>{{policy.policyFaceAmount}}</td>
                    <td>{{policy.cedingUserId}}</td>
                    <td>{{policy.ratings.length}}</td>
                    <td>{{policy.ratingExpiration | date : 'short'}}</td>
                    <td>{{policy.bids.length}}</td>
                    <td>{{policy.offerExpiration | date : 'short'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-right">
              <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.hasSelectedPolicy" class="col-md-6">
    <i class="fa fa-2x fa-arrow-circle-left pointer" ng-click="ctrl.unSelectPolicy()"></i><br/><br/>
    <uib-tabset active="active">
      <uib-tab index="0" heading="Policy Overview">
        <dl class="dl-horizontal">
          <dt>Policy #</dt>
          <dd>{{ctrl.selectedPolicy.id}}</dd>
          <dt>Cedant</dt>
          <dd>{{ctrl.selectedPolicy.cedingUserId}}</dd>
          <dt>Risk Type</dt>
          <dd>{{ctrl.selectedPolicy.riskType}}</dd>
          <dt>Face Amount</dt>
          <dd>{{ctrl.selectedPolicy.policyFaceAmount}}</dd>
          <dt>Rating Expiration</dt>
          <dd>{{ctrl.selectedPolicy.ratingExpiration | date : 'short'}}</dd>
          <dt>Bid Expiration</dt>
          <dd>{{ctrl.selectedPolicy.offerExpiration | date : 'short'}}</dd>

          <!--TODO: FINISH DETAILS -->
        </dl>
      </uib-tab>
      <uib-tab index="1">
        <uib-tab-heading>
          Ratings&nbsp;&nbsp;<span class="badge badge-default">{{ctrl.selectedPolicy.ratings.length}}</span>
        </uib-tab-heading>
        <div class="table-responsive" ng-if="ctrl.hasRatings">
          <button class="pull-right btn btn-success" ng-click="ctrl.addRating(ctrl.selectedPolicy)">RATE POLICY</button><br/>
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
              <th>Analyst</th>
              <th>Score</th>
              <th>Cost</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rating in ctrl.selectedPolicy.ratings">
              <td>{{rating.userId}}</td>
              <td>{{rating.value}}</td>
              <td>{{rating.cost}}</td>
              <td>{{rating.details}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="!ctrl.hasRatings" style="font-style: italic">
          No Ratings have been given...<br/><br/>
          <button class="btn btn-lg btn-success" ng-click="ctrl.addRating(ctrl.selectedPolicy)">RATE POLICY</button>
        </div>
      </uib-tab>
      <uib-tab index="2">
        <uib-tab-heading>
          BIDS&nbsp;&nbsp;<span class="badge badge-default">{{ctrl.selectedPolicy.bids.length}}</span>
        </uib-tab-heading>
        <div class="table-responsive" ng-if="ctrl.hasBids">
          <button class="pull-right btn btn-success" ng-click="ctrl.addBid(ctrl.selectedPolicy)">PLACE BID</button><br/>
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
              <th>Bidder</th>
              <th>Bid</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bid in ctrl.selectedPolicy.bids">
              <td>{{bid.userId}}</td>
              <td>{{bid.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="!ctrl.hasBids" style="font-style: italic">
          No Bids have been added...<br/><br/>
          <button class="btn btn-lg btn-success" ng-click="ctrl.addBid(ctrl.selectedPolicy)">PLACE BID</button>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
